.assets {
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__icon-box {
    text-align: center;
    padding: 25px 0;
    margin-bottom: 30px;
    background-color: $backgroundLight;
    border-radius: $borderRadius;
  }

  &__heading {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
  }

  &__text {
    line-height: 1.71;
    color: $fontLighter;
  }
}

@media (width >= 768px) {
  .assets {
    padding-bottom: 15px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0 30px;
    }

    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }

    &__heading {
      text-align: left;
    }
  }
}

@media (width >= 1200px) {
  .assets {
    padding-bottom: 0;

    &__item {
      flex-basis: calc((100% - 90px) / 4);

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
