.clients {
  &__title {
    @extend %section-title;
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  &__logo {
    @include borderDefault($iconsInactiveColor);
    display: block;
    padding: 13px;
    text-align: center;
    color: $iconsInactiveColor;
    transition: border $transitionSet;

    &:hover,
    &:focus {
      border: 1px solid $themeColor;
      color: $themeColor;
    }
  }

  &__icon {
    --color2: currentColor;
    --color3: currentColor;
    transition: color $transitionSet;
  }
}

@media (width >= 768px) {
  .clients {
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}

@media (width >= 1200px) {
  .clients {
    &__title{
      margin-bottom: 50px;
      font-size: 36px;
    }
    &__item {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
}
