.hero {
  background-color: $backgroundDark;

  &__content {
    padding: 118px 40px;
    text-align: center;
    background-image: linear-gradient(
        $backgroundDarkTransparent,
        $backgroundDarkTransparent
      ),
      url('../images/hero-bg/hero-bg-mobile@1x.jpg');
    background-position: center;
    background-size: 480px 400px;
  }

  &__heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: $letterSpacingBig;
    line-height: 1.62;
    color: $white;
  }

  &__btn {
    padding: 10px 41px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: $letterSpacingBig;
    background-color: $themeColor;
    color: $white;
    box-shadow: $boxShadowDefault;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(
        $backgroundDarkTransparent,
        $backgroundDarkTransparent
      ),
      url('../images/hero-bg/hero-bg-mobile@2x.jpg');
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero__content {
    background-image: linear-gradient(
        $backgroundDarkTransparent,
        $backgroundDarkTransparent
      ),
      url('../images/hero-bg/hero-bg-mobile@3x.jpg');
  }
}

@media (width >= 768px) {
  .hero {
    &__content {
      padding: 118px 201px;
      background-image: linear-gradient(
          $backgroundDarkTransparent,
          $backgroundDarkTransparent
        ),
        url('../images/hero-bg/hero-bg-tablet@1x.jpg');
      background-size: 768px 400px;
    }
  }
}

@media (width >= 768px) and(min-device-pixel-ratio: 2),
  (width >= 768px) and (min-resolution: 192dpi),
  (width >= 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(
        $backgroundDarkTransparent,
        $backgroundDarkTransparent
      ),
      url('../images/hero-bg/hero-bg-tablet@2x.jpg');
  }
}

@media (width >= 768px) and(min-device-pixel-ratio: 3),
  (width >= 768px) and(min-resolution: 288dpi),
  (width >= 768px) and (min-resolution: 3dppx) {
  .hero__content {
    background-image: linear-gradient(
        $backgroundDarkTransparent,
        $backgroundDarkTransparent
      ),
      url('../images/hero-bg/hero-bg-tablet@3x.jpg');
  }
}

@media (width >= 1200px) {
  .hero {
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 200px 0;
      margin: 0 auto;
      max-width: 1600px;
      flex-direction: column;
      background-image: linear-gradient(
          $backgroundDarkTransparent,
          $backgroundDarkTransparent
        ),
        url('../images/hero-bg/hero-bg-desktop@1x.jpg');
      background-size: 1600px 600px;
    }

    &__heading {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

@media (width >= 1200px) and(min-device-pixel-ratio: 2),
  (width >= 1200px) and(min-resolution: 192dpi),
  (width >= 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(
        $backgroundDarkTransparent,
        $backgroundDarkTransparent
      ),
      url('../images/hero-bg/hero-bg-desktop@2x.jpg');
  }
}

@media (width >= 1200px) and(min-device-pixel-ratio: 3),
  (width >= 1200px) and(min-resolution: 288dpi),
  (width >= 1200px) and (min-resolution: 3dppx) {
  .hero__content {
    background-image: linear-gradient(
        $backgroundDarkTransparent,
        $backgroundDarkTransparent
      ),
      url('../images/hero-bg/hero-bg-desktop@3x.jpg');
  }
}
