.header {
  padding: 10px 0;
  border-bottom: 1px solid $headerBorderColor;

  &__content {
    @extend %flex-sb;
  }

  &__menu-toggle {
    @extend %menu-toggler;
  }

  &__desktop-menu {
    display: none  ;
  }
}

@media (width >= 768px) {
  .header {
    padding: 25px 0;

    &__menu-toggle {
      display: none;
    }

    &__desktop-menu {
      display: block;
    }

    .link {
      transition: color $transitionSet;
    }

    .link:hover,
    .link:focus {
      color: $themeColor;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 46px;
    }

    &__item {
      font-weight: 500;
      letter-spacing: $letterSpacingSmall;
    }

    &__link {
      position: relative;

      &--active {
        color: $themeColor;

        &::after {
          content: '';
          position: absolute;
          bottom: -34px;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: $themeColor;
          pointer-events: none;
        }
      }
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    &__item {
      font-weight: 500;
      letter-spacing: $letterSpacingSmall;
      color: $fontLighter;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__icon {
      margin-right: 10px;
      --color4: currentColor;
    }
  }
}
