.footer {
  background-color: $backgroundDark;

  &__content {
    padding: 60px 15px;
  }
}

.logo__partial--footer {
  color: $white;
}

.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;

  &__loc {
    color: $white;
  }

  &__contact {
    display: block;
    margin-top: 8px;
    color: $whiteTransparent;
    transition: color $transitionSet;

    &:hover,
    &:focus {
      color: $themeColor;
    }
  }
}

.joinus {
  &__heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $white;
  }

  & .social-icons {
    justify-content: center;
  }

  &__social-icon {
    background-color: $footerIconBackground;
    color: $white;
  }
}

.newsletter {
  &__label {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
  }

  &__input {
    @include borderDefault($borderTransparent);
    display: block;
    padding: 15px;
    width: 100%;
    color: $white;
    background-color: $backgroundDark;

    &::placeholder {
      font-size: 16px;
      color: $whiteTransparent;
    }
  }

  &__btn {
    padding: 10px 28px 10px 42px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: $letterSpacingBig;
    color: $white;
    background-color: $themeColor;
    box-shadow: $boxShadowDefault;
  }

  &__send-icon {
    margin-left: 24px;
    vertical-align: middle;
  }
}

@media (width < 768px) {
  .newsletter__input {
    margin-bottom: 20px;
  }
}

@media (width < 1200px) {
  .footer__content {
    text-align: center;
  }

  .address {
    margin-bottom: 60px;
  }

  .joinus {
    & .social-icons {
      margin-bottom: 60px;
    }
  }
}

@media (width >= 768px) {
  .footer__subcontainer {
    display: flex;
    justify-content: space-between;
  }

  .joinus {
    padding: 5px 13px;
  }

  .newsletter__input {
    width: 450px;
  }
}

@media (1200px > width >=768px) {
  .footer__subcontainer {
    padding: 0 61px;
  }
  .newsletter__input {
    margin: 0 auto 20px;
  }
}

@media (width >= 1200px) {
  .footer {
    &__content {
      display: flex;
    }
  }

  .joinus {
    padding: 12px 78px 0 70px;
  }

  .newsletter {
    padding-top: 12px;

    &__wrapper {
      display: flex;
      gap: 12px;
    }

    &__input {
      width: 358px;
    }
  }
}
