.filter {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 0.8fr 1fr 1.5fr;
  gap: 15px 8px;

  &__btn {
    padding: 6px 6px;
    width: 100%;
    max-width: 145px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    background-color: $backgroundLight;
    transition: background-color $transitionSet, color $transitionSet,
      box-shadow $transitionSet;

    &:hover,
    &:focus {
      background-color: $themeColor;
      color: $white;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.portfolio-item {
  transition: box-shadow $transitionSet;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    .portfolio-item__overlay {
      top: 0;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    padding: 20px 24px;
    border: 1px solid $portfolioBorderColor;
    border-top: none;
  }

  &__heading {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: $letterSpacingBig;
  }

  &__category {
    font-size: 16px;
    line-height: 1.875;
    color: $fontLighter;
  }

  &__image-box {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.56;
    color: $white;
    background-color: $themeColorTransparent;
    transition: top $transitionSet;
  }
}

@media (width > 396px) {
  .portfolio-item__overlay {
    font-size: 18px;
  }
}

@media (width >= 768px) {
  .filter {
    display: flex;
    justify-content: space-between;
    gap: 0 8px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .portfolio-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (1200px > width >= 768px) {
  .filter {
    padding: 0 46px;

    &__item {
      width: 100%;
    }
  }

  .portfolio-item {
    flex-basis: calc((100% - 30px) / 2);

    &__figure {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__text {
      flex-grow: 1;
    }

    &__overlay {
      padding: 49px 24px;
    }
  }
}

@media (width >= 1200px) {
  .filter {
    margin-bottom: 50px;
    justify-content: center;

    &__btn {
      padding: 6px 22px;
    }
  }

  .portfolio-item__overlay {
    padding: 49px 45px 49px 24px;
  }
}
