* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $fontDeafault;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $white;
}

ul {
  list-style: none;
}

.section {
  padding: 60px 0;
}

.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
}

@media (width >= 768px) {
  .container {
    max-width: 1200px;
  }

  .section {
    padding: 94px 0;
  }
}
